.about {
   padding: 50px 0 50px;

   @media (max-width: 767px) {
      padding: 0 0 30px;
   }
}

.about-row {
   display: flex;
   align-items: center;

   @media (max-width: 991px) {
      flex-wrap: wrap;
   }
}

.about__column {
   padding: 50px 0 0 0;
}

.about__column-big {
   flex: 0 0 60%;
   padding: 50px 20px 0;

   @media (max-width: 991px) {
      flex: 0 0 100%;
   }

   @media (max-width: 767px) {
      padding: 50px 10px 0;
   }
}

.about__column-small {
   flex: 0 0 40%;
   padding: 50px 20px 0;

   @media (max-width: 991px) {
      flex: 0 0 100%;
   }

   @media (max-width: 767px) {
      padding: 50px 10px 0;
   }
}

.about__column-text {
   @media (max-width: 991px) {
      order: 1;
      padding: 50px 50px 0;
   }

   @media (max-width: 767px) {
      padding: 50px 10px 0;
   }
}

.about__column-photo {
   @media (max-width: 991px) {
      order: 2;
   }
}

.about__title {
   text-align: left;
}

.about__text {
   margin: 0 0 10px 0;

   &:last-of-type {
      margin: 0 0 25px 0;
   }
}

.about__link {
   font-size: 24px;
   color: $red;
   padding: 0 65px 0 0;
   position: relative;

   &::after {
      content: '';
      display: inline-block;
      width: 47px;
      height: 45px;
      background: url(../img/about/shrimp.svg) no-repeat;
      background-size: cover;
      position: absolute;
      top: -5px;
      right: 0;
   }
}

.about__photo {
   overflow: hidden;
   position: relative;
   padding: 0 0 97% 0;
   box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);

   @media (max-width: 1199px) {
      padding: 20% 0 100% 0;
   }

   @media (max-width: 991px) {
      padding: 0 0 70% 0;
   }

   img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
   }
}

.about-reasons {
   margin: 50px 0 0 0;
}

.about-reasons__item {
   display: flex;
   margin: 0 0 20px 0;
}

.about-reasons__number {
   font-family: 'Open Sans', sans-serif;
   font-size: 45px;
   font-weight: 600;
   opacity: 0.4;
   color: $red;
   margin: 0 0 20px 0;
}

.about-reasons__content {
   padding: 0 0 0 20px;
}

.about-reasons__title {
   color: $black;
   padding: 0 15px 0 0;
   margin: 0 0 10px 0;
}

.about-reasons__text {
   margin: 0 0 10px 0;
   padding: 0 0 0 0;
}

.about-buttons {
   text-align: right;
}

.about-btn {
   margin: 30px 0 0 0;

   @media (max-width: 767px) {
      margin: 10px 0 0 0;
   }
}


// Animation

.about__column-big-anim {
   transform: translateX(-100%);
   opacity: 0;
   transition: all 1.5s linear;

   &.anim-active {
      transform: translate3d(0, 0, 0);
      opacity: 1;
   }
}

.about-reasons__item {
   transform: translateX(100%);
   opacity: 0;
   transition: all 0.8s linear;

   &:nth-of-type(1) {
      transition-delay: 0s;
   }

   &:nth-of-type(2) {
      transition-delay: 0.5s;
   }

   &:nth-of-type(3) {
      transition-delay: 1.0s;
   }

   &:nth-of-type(4) {
      transition-delay: 1.5s;
   }

   &.anim-active {
      transform: translate3d(0, 0, 0);
      opacity: 1;
   }
}