// ШРИФТЫ

// font-family: 'Inter', sans-serif;
// font-family: 'PT Sans', sans-serif;
// font-family: 'Nunito', sans-serif;

// МИКСИНЫ


// ПЕРЕМЕННЫЕ

// =======  media  =======

$notebook: (max-width: 1199px);
$tablet: (max-width: 991px);
$mobile: (max-width: 767px);
$mobile-sm: (max-width: 565px);


// =======  colors  =======


$wine-bg: #4a2c2d;
$blue-bg: #282f40;
$gray-bg: #f8f8f8;
$black: #040a1c;
$red: #ca3c3f;
$gray-font: #7a7879;
$bullet-color: #c7c7c8;
$light-gray-font: #a8a7a8;


// =======  fonts  =======

$mainfont: "'Inter', sans-serif;";


// =======  sizes  =======

$minwidth: 320px;
$mw: 1300;


// ОБОЛОЧКА

.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
}


// ОСНОВНАЯ СЕТКА

.container {
   width: 100%;
   max-width: $mw + px;
   margin: 0 auto;
   padding: 0 20px;

   @media (max-width: 565px) {
      padding: 0 5px;
   }
}


// ПОДКЛЮЧЕНИЕ БЛОКОВ

@import "_nullstyle";
@import "_buttons";
@import "_button-up";
@import "_header";
@import "_intro";
@import "_about";
@import "_menu";
@import "_order";
@import "_testimonials";
@import "_gallery";
@import "_footer";


// ОСНОВНЫЕ СТИЛИ


html {
   scroll-behavior: smooth;
}

body {
   font-family: 'Inter', sans-serif;
   font-size: 16px;
   color: $gray-font;

   &.lock {
      overflow: hidden;
   }
}

.subtitle {
   font-family: 'PT Sans', sans-serif;
   font-size: 18px;
   font-weight: 300;
   margin: 0 0 22px 0;
   font-style: italic;
}

.title {
   font-family: 'Nunito', sans-serif;
   font-size: 60px;
   color: $black;
   margin: 0 0 40px 0;

   &-sm {
      font-size: 24px;
      font-weight: 500;
   }

   @media (max-width: 991px) {
      font-size: 50px;
   }

   @media (max-width: 767px) {
      font-size: 45px;
      margin: 0 0 30px 0;
   }

   @media (max-width: 565px) {
      font-size: 37px;
   }
}

.text {
   font-size: 18px;
   line-height: 1.2;

   &-sm {
      font-size: 16px;
   }


   //FUJISUSHI
   span {
      font-weight: 600;
      color: $black;
      text-transform: uppercase;
      letter-spacing: 1px;

      span {
         color: $red;
      }
   }
}